<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Analyse Text Here</h1>
    <form action="/analyse" method="get">
        <textarea name = 'text' style="width: 819px; height: 222px;"></textarea><br>
        <input name = 'check' type="checkbox">Remove Punchuations</input>
        <input type="checkbox" name ="Removenewline">New Line Remover</input>
        <input name = 'check1' type="checkbox">Capitalize text</input>
        <input name = "charcount" type="checkbox">Character Counter</input>
        <input name = 'wordcount' type ="checkbox">Word Counter</input>
        <button type="submit">Analyze text</button>
    </form>
</body>
</html>